<section id="rentalDetails" *ngIf="product && product.active === true">
  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <img src={{product.image}} alt="">
      </div>
      <div class="col-md-4">
        <div class="product">
          <h1 class="product-brand">{{product.brand}}</h1>
          <h2 class="product-name">{{product.name}}</h2>
        </div>
      <hr>
        <app-product-detail-purchase [product]="product"></app-product-detail-purchase>
        <hr>
        <p class="product-description">
          {{product.description}}
        </p>
      </div>
    </div>
  </div>
</section>
