<section id="rentalDetails" *ngIf="product && product.active === true">
  <div class="upper-section">
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <img src="assets/images/Dijon-Mustard-3-600x600.jpg" alt="">
      </div>
      <div class="col-md-4">
        <div class="product">
          <h2 class="product-brand">{{product.brand}}</h2>
          <h1 class="product-name">{{product.name}}</h1>
          <p class="product-description">
            {{product.description}}
          </p>
        </div>
      <hr>
        <app-product-detail-purchase [product]="product"></app-product-detail-purchase>
      </div>
    </div>
  </div>
</section>
