@import 'variables';

#productDetails {

  .details-section {
    color: $main-text-color;

    .product {

      &name {
        margin-bottom: 5px;
        font-size: 32px;
        font-weight: 700;
      }

      &brand {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      &-room-info {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;

        span {
          margin-right: 10px;
        }

        i {
          margin-right: 2px;
        }
      }

      &-description {
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
  }
}
