<div class="purchase">
  <h6>Retail: R{{product.retailPrice}}</h6>
  <h2 class="purchase-price">R{{product.dkPrice}} <small>excludes shipping</small></h2>
  <hr>
  <div ngbDropdown class="d-inline-block">
    <button class="btn quantity-dropdown" id="quantity-dropdown" ngbDropdownToggle>Quantity: {{quantity}}</button>
    <div class="quantity-dropdown" ngbDropdownMenu aria-labelledby="quantity-dropdown">
      <button *ngFor="let num of stockCount" (click)="selectQuantity(num)" ngbDropdownItem>{{num}}</button>
    </div>
  </div>
  <br><br>
  <button class="btn btn-danger btn-confirm btn-block">I want {{quantityString[quantity-1]}}!</button>
</div>
